<div class="column">
    <div style="background-color: #fcf5fc;">

        <div class="container">

            <div class="column">
                <div class="div-center container">
                    <h4 class="decoracion-qs">Quienes Somos</h4>
                </div>
                <p>Somos Juanita y Jeferson, una pareja de jovenes emprendedores que quieren hacer de este mundo un lugar mejor, de dar amor con detalles, esta motivacion viene de nuestra creencia en que Dios es amor y cada cosa que se haga por dar amor
                    es un principio de vida que nos mueve y nos apaciona.
                </p>
            </div>

        </div>

    </div>
    <div>

        <div class="container">

            <div>
                <div class="div-center">
                    <h4 class="decoracion-titulo">Acerca de Sings of love</h4>
                </div>
                <p>En Sings of love queremos dar mucho mas que detalles, te ofrecemos toda una experiencia para decirle a tus seres amados todo lo que te inspira con mas que palabras, alimentar con amor, es decirle a esa persona especial todo lo que significa
                    para ti.</p>
                <p>En sign of love garantizamos seguridad y eficiencia, a traves de la facilidad en tus compras y rapidez de envio.</p>
            </div>

        </div>

    </div>
    <div style="background-color: #fcf5fc;">

        <div class="container">

            <div>
                <div>
                    <h4>Mision</h4>
                </div>
                <p>Es lo que haces para alcanzar tu proposito en un periodo de tiempo.</p>
            </div>

        </div>

    </div>
    <div>

        <div class="container">

            <div>
                <div>
                    <h4>vision</h4>
                </div>
                <p>Es una meta de plazo amplio donde se establece la aspiracion sobre los logros de una empresa y lo que se se desea acerca de su estado futuro.</p>
            </div>

        </div>

    </div>
</div>