<div class="container column">


    <div class="monio-line">

        <img class="corbata-footer" src="./assets/img/monio.png" alt="" width="110px">

    </div>
    <div class="capa-footer">

        <div class="row">
            <div class="col-5 separador-top-35px">
                <img class="centrar-img" src="./assets/img/logo_footer.png" alt="" width="180px">
                <div>
                    <p class="frase-footer">Desayunos sorpresa</p>
                    <p class="frase-footer">para amar y compartir</p>
                </div>

            </div>
            <div class="col-3 separador-top-50px">
                <h6 style="color: red;">MAPA DEL SITIO</h6>
                <div class="column">
                    <h6 style="color: red;">Inicio</h6>
                    <h6 style="color: red;">Producto</h6>
                    <h6 style="color: red;">Nosotros</h6>
                    <h6 style="color: red;">Contacto</h6>
                </div>
            </div>
            <div class="col-4 separador-top-50px">
                <h6 style="color: red;">REDES SOCIALES</h6>
                <div class="column">
                    <h6 style="color: red;">Signs of love Desayunos</h6>
                    <h6 style="color: red;">320-0000000</h6>
                    <h6 style="color: red;">Signs of love Desayunos</h6>
                </div>
            </div>

        </div>
        <div>
            <p class="estilo-derechos-reservados">derechos reservados</p>
        </div>

    </div>
</div>