<div class="column">


    <div class="monio-line">

        <img class="corbata-footer" src="./assets/img/monio.png" alt="" width="150px">

    </div>
    <div class="capa-footer">

        <div class="row">
            <div class="col-5 separador-top-35px">
                <img class="centrar-img" src="./assets/img/logo_footer.png" alt="" width="150px">
                <div>
                    <p class="frase-footer">Desayunos sorpresa</p>
                    <p class="frase-footer">para amar y compartir</p>
                </div>

            </div>
            <div class="col-3 separador-top-50px">
                <h6 class="frase-footer-centro-p">MAPA DEL SITIO</h6>
                <div class="column">
                    <h6 class="frase-footer-centro-s">Inicio</h6>
                    <h6 class="frase-footer-centro-s">Productos</h6>
                    <h6 class="frase-footer-centro-s">Nosotros</h6>
                    <h6 class="frase-footer-centro-s">Contacto</h6>
                </div>
            </div>
            <div class="col-4 separador-top-50px">
                <h6 class="frase-footer-centro-p">REDES SOCIALES</h6>
                <div class="column">
                    <p class="frase-footer-centro-s">
                        <img class="izquierda-img" src="./assets/img/icon-facebook.png" alt="" width="18px"> Signs of love Desayunos

                    </p>
                    <p class="frase-footer-centro-s">
                        <img class="izquierda-img" src="./assets/img/icon-ws.png" alt="" width="18px"> 320-0000000

                    </p>
                    <p class="frase-footer-centro-s">
                        <img class="izquierda-img" src="./assets/img/icon-instagram.png" alt="" width="18px"> Signs of love Desayunos

                    </p>
                </div>
            </div>

        </div>
        <div>
            <p class="estilo-derechos-reservados">derechos reservados</p>
        </div>

    </div>
</div>