<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav nav ml-auto nav-p" role="tablist">
                <li class="nav-item ">
                    <a class="nav-l active a-item" data-toggle="pill" [routerLink]="['/inicio']">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-l a-item" data-toggle="pill" [routerLink]="['/productos']">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-l a-item" data-toggle="pill" [routerLink]="['/nosotros']">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-l a-item" data-toggle="pill" [routerLink]="['/contacto']">Contactos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>