<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav ml-auto nav-p" role="tablist">
                    <li class="nav-item " routerLinkActive="active">
                        <a class="nav-l active a-item" data-toggle="pill" [routerLink]="['/inicio']">inicio</a>
                    </li>
                    <li class="nav-item " routerLinkActive="active">
                        <a class="nav-l a-item" data-toggle="pill" [routerLink]="['/productos']">Productos</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-l a-item" data-toggle="pill" [routerLink]="['/nosotros']">Nosotros</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-l a-item" data-toggle="pill" [routerLink]="['/contacto']">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>