<div class="wrapper">
    <h1>
        <label>SIGNS-OF-LOVE</label></h1>
    <div class="hr"></div>
    <h1>Próximamente !!!</h1>
    <p><strong>Estamos trabajando en la construcción de esta sección</strong></p>

    <section class="progress">
        <div class="progress-bar-container" id="tipsy" title="10% Complete">
            <article class="progress-bar" style="width:10%"></article>
        </div>
        <article class="txt-launch-day-hat"></article>
    </section>

    <div class="hr"></div>
    <section class="mailing-list">


    </section>
    <div class="clear"></div>
    <div class="hr"></div>

    <p class="credit">Template by <a href="">SignsOfLove</a></p>
</div>