<div style="background-color: #fcf5fc; height: 600px;margin-bottom: -15px;">

    <div class="container">

        <div class="column" style="padding-top: 60px;">
            <div class="div-center ">
                <h5 class="decoracion-qs">Contactanos</h5>
            </div>
            <div>

                <div class="row">
                    <div class="col-6 separador-top-35px">
                        <div>
                            <p>¿Podemos ayudarte? Si tienes cualquier duda, o recomendacion</p>
                            <p>o deseas realizar tu pedido, por favor comunicate con nosotros,</p>
                            <p>a traves de nuestras redes sociales . Estamos para servirte</p>
                        </div>

                        <div class="column">
                            <p class="frase-footer-centro-s">
                                <img class="izquierda-img" src="./assets/img/contactos_1.png" alt="" width="30px"> Signs of love Desayunos

                            </p>
                            <p class="frase-footer-centro-s">
                                <img class="izquierda-img" src="./assets/img/contactos_2.png" alt="" width="30px"> 320-0000000

                            </p>
                            <p class="frase-footer-centro-s">
                                <img class="izquierda-img" src="./assets/img/contactos_3.png" alt="" width="30px"> Signs of love Desayunos

                            </p>
                        </div>

                    </div>
                    <div class="col-6 separador-top-50px">

                        <div class="column container">
                            <div class="column">
                                <div>
                                    <label>*Nombre</label>
                                </div>
                                <div>
                                    <input style="width: 100%;" style="width: 100%;" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="column">
                                <div>
                                    <label>*Email</label>
                                </div>
                                <div>
                                    <input style="width: 100%;" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="column">
                                <div>
                                    <label>*Mensaje</label>
                                </div>
                                <div>
                                    <textarea style="width: 100%;" class="form-control" type="text"></textarea>
                                </div>
                            </div>
                            <div align="center" style="margin-top: 15px;">
                                <button>Enviar Fomulario</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>