body {
    background: #ffffff;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    z-index: -1;
}

.linea-horizontal-header {
    height: 35px;
    background-color: #4A1B43;
    margin: 0px;
    margin-bottom: 25px;
}

.linea-horizontal-footer {
    height: 20px;
    background-color: #3F123B;
    margin: 0px;
    margin-bottom: 25px;
}

.linea-horizontal {
    height: 10px;
    background-color: #B853BA;
    margin: 0px;
    margin-bottom: 25px;
}

.centrar-img {
    display: block;
    margin: auto;
}

.izquierda-img {
    float: left;
    margin-right: 10px;
}

.frase-header {
    font-family: 'LeckerliOne-Regular';
    color: #C4B3C2;
    text-align: center;
    font-size: 16pt;
}

.frase-footer {
    font-family: 'LeckerliOne-Regular';
    color: #C4B3C2;
    text-align: center;
    margin-bottom: auto;
}

.frase-footer-centro-p {
    font-family: 'Roboto-Bold';
    color: #C4B3C2;
    margin-bottom: 20px;
    font-size: 13pt;
}

.frase-footer-centro-s {
    font-family: 'Roboto-Regular';
    color: #C4B3C2;
    font-size: 9pt;
}

.capa-footer {
    background-color: #4A1B43;
    margin: 0px;
}

@font-face {
    font-family: 'LeckerliOne-Regular';
    src: url('./assets/fonts/LeckerliOne-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('./assets/fonts/Roboto-Bold.ttf') format('trueType');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('./assets/fonts/Roboto-Regular.ttf') format('trueType');
}

.corbata-footer {
    float: right;
    position: relative;
    z-index: 2;
}

.monio-line {
    display: inline-block;
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: -47px;
}

.monio-line::after,
.monio-line::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: #B853BA;
    top: 1.1em;
}

.separador-top-50px {
    margin-top: 50px;
}

.separador-top-35px {
    margin-top: 35px;
}

.estilo-derechos-reservados {
    background-color: #3F123B;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin-bottom: auto;
    z-index: 2;
}

.nav-l {
    display: block;
    padding: .5rem 1rem;
}

.nav-p .nav-l {
    border-radius: 9.2rem;
}

.nav-p .nav-l.active,
.nav-p .show>.nav-l {
    color: #4A1B43;
    background-color: #E79FE6;
}

.bg-light-menu {
    background-color: #EDEDED;
}

.a-item {
    color: #4A1B43;
    text-decoration: none;
    background-color: transparent;
}

.decoracion-qs {
    display: inline-block;
    position: relative;
    width: 33%;
    color: #4A1B43;
    font-family: 'LeckerliOne-Regular';
}

.decoracion-qs::after,
.decoracion-qs::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
    top: 0.6em;
}

.decoracion-qs::before {
    left: -100%;
}

.decoracion-qs::after {
    right: -100%;
}

.div-center {
    text-align: center;
}

.div-right {
    text-align: right;
}

.mision-qs {
    display: inline-block;
    position: relative;
    width: 90%;
    color: #4A1B43;
    font-family: 'LeckerliOne-Regular';
}

.mision-qs::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
    top: 0.6em;
}

.mision-qs::after {
    right: -10%;
}

@media (min-width: 100px) and (max-width: 1200px) {
    .mision-qs {
        display: inline-block;
        position: relative;
        width: 90%;
        color: #4A1B43;
        font-family: 'LeckerliOne-Regular';
    }
    .mision-qs::after {
        content: "";
        position: absolute;
        width: 85%;
        height: 3px;
        background-color: black;
        top: 0.6em;
    }
    .mision-qs::after {
        right: -10%;
    }
}

.vision-qs {
    display: inline-block;
    position: relative;
    width: 100%;
    color: #4A1B43;
    font-family: 'LeckerliOne-Regular';
}

.vision-qs::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 3px;
    background-color: black;
    top: 0.6em;
}

.vision-qs::before {
    left: 0%;
}

@media (min-width: 100px) and (max-width: 1200px) {
    .vision-qs {
        display: inline-block;
        position: relative;
        width: 100%;
        color: #4A1B43;
        font-family: 'LeckerliOne-Regular';
    }
    .vision-qs::before {
        content: "";
        position: absolute;
        width: 80%;
        height: 3px;
        background-color: black;
        top: 0.6em;
    }
    .vision-qs::before {
        left: 0%;
    }
}

.mision-text {
    color: #4A1B43;
    font-family: 'LeckerliOne-Regular';
}

.imagen_izquierda {
    float: left;
    padding-right: 10px;
    padding-top: 10px;
}

.imagen_derecha {
    float: right;
    padding-right: 10px;
    padding-top: 10px;
}

.boton4 {
    //color: red !important;
    font-size: 10px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #fcf5fc;
    border: 0px solid;
    //border-color: purple;
    position: relative;
}

.boton4:hover {
    // color: black !important;
    box-shadow: 0 4px 16px #4A1B43;
    transition: all 0.2s ease;
}

.separar {
    padding: 0.5%;
    display: inline-block;
}

.estilo-text-pag {
    color: #4A1B43;
    font-family: 'LeckerliOne-Regular';
    justify-content: center;
}

.pagination_producto {
    display: block;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

jw-pagination ul.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center;
    border-radius: .25rem;
    width: 100%;
}

jw-pagination ul li a.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #0a1016;
    background-color: #fff;
    border: 1px solid #dee2e6;
}